<!DOCTYPE html>
<html>
    <head>
        <title>This is the calc page</title>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <style>
            #coef{
                margin:20px;
               
                display: inline-block;
            }
            #box{
                width:10px;
            }
           
        </style>
           
    </head>
    <body><div>

        <a href="{%url 'QA:main'%}">
        Questions
        </a>
    </div>
        <div>
          

        </div>
            <h2>
                Equation Solver
            </h2>
            <form action="{% url 'Mathapp:sub'%}" method="POST">
                {%csrf_token%}
                <div id="eqn">

                </div>
               
                </form>
                Answers are {{a}},{{b}},{{c}}

        <h2>
            Rank
        </h2>
        <form action="{%url 'Mathapp:rank'%}" method="POST">
            {%csrf_token%}

            <div id="rank">
            
            </div>
        </form> 
        Rank is {{rank}}    
        <form action="{%url 'Mathapp:eigen'%}" method="POST">
            {%csrf_token%}
            <div id="eigen">

            </div>
        </form> 
        Eigen value is {{eigen1}},{{eigen2}},{{eigen3}} 
      
        
        {% load static %}
        <script src="{% static 'Mathapp/calc.js' %}" type="text/babel"></script>
        
        


    </body>
</html>