<!DOCTYPE html>
<html>
    <head>
        <title>
            Todo list app
        </title>
        
            <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
            <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
            <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
            <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
            <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
            <style>

            </style>
    </head>
    <body>

        <div id="root">

        </div>
        {%load static%}
        <script src="{% static 'TODO/main.js' %}" type="text/babel"> 
        </script>
        </body>

</html>