<!DOCTYPE html>
<html>
    <head>
        <title>This is the main page </title>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
           
    </head>
    <body>
        <div>
            {%for post in posts%}

            <img src="{{post.Image.url}}" >
            <br>

            {%endfor%}
        </div>
       <div id="app">

       </div>
       {% load static %}
       <script src="{% static 'mainpage/reacts.js'%}"   type="text/babel"></script>
    </body>
</html>